<app-banner></app-banner>
<div id="viewevent" class="container col-md-6">
    <h1>{{event.name}}</h1>
    <p>{{ event.date | date: 'MMMM dd, yyyy' }}</p>
</div>
<div id="viewevent-more" class="container-fluid">
    <div id="viewevent-details" class="container col-md-6">
        <br>
        <h3>Details</h3>
        <p>WHERE: {{ event.street }}, {{ event.city }}, {{ event.state }} {{ event.zip }}</p>
        <p>DESCRIPTION: {{ event.description }}</p>

        <button type="button" (click)="likeEvent()" class="btn btn-info btn-view" [disabled]="isClickedOnce==true">Attend {{event.likes}}</button>
        <button [routerLink]="['/editevent', event._id]" value="{{event._id}}" class="btn btn-info btn-view">Edit</button>
    </div>
</div>