<app-banner></app-banner>
<div id="viewevent" class="container">
    <h1>{{ event.name }}</h1>
    <p>{{ event.date | date: 'MMMM dd, yyyy' }}</p>
    <p> {{ event.date | date: 'hh:mm a' }}</p>
</div>
<div id="viewevent-more" class="container-fluid">
    <div id="viewevent-wrapper" class="container">
        <div id="viewevent-details" class="col-md-7">
            <br>
            <h3>Greetup Details</h3>
            <hr>
            <p>DESCRIPTION:</p>
            <p>{{ event.description }}</p>
            <img src="https://source.unsplash.com/collection/770996/600x300" alt="Random" class="placeholder">
            <br>
            <div id="view-btns">
                <button type="button" (click)="likeEvent()" class="btn btn-info btn-view btn-pink col-md-5" [disabled]="isClickedOnce==true">Attend {{ event.likes }}</button>
                <button [routerLink]="['/editevent', event._id]" value="{{event._id}}" class="btn btn-info btn-view btn-pink col-md-5">Edit</button>
            </div>
        </div>
        <div id="view-map" class="col-md-4" style="text-align: center">
            <div id="view-where">
                <h5 class="pinktext">WHERE:</h5>
                <p class="pinktext">{{ event.street }}, {{ event.city }}, {{ event.state }} {{ event.zip }}</p> 
            </div>
            <div id="view-gm">
                <app-map></app-map>
            </div>
            <hr>
            <br>
            <div id="view-chat">
                <app-chat></app-chat>
            </div>
        </div>
    </div>
</div>