<div class="container">
    <nav id="chatnav" class="row">
        <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter Your Chat Handle">
        <button id="joinchat" type="button" class="btn btn-primary col-md-6" (click)="join()">JOIN</button>
        <button id="leavechat" type="button" class="btn btn-default col-md-6" (click)="leave()">LEAVE</button>
    </nav>

    <div class="row">
        <div class="well" style="height:200px; padding:15px;">
            <div *ngFor="let item of messageArray"  style="text-align: left;">
                <span class="pinktext" style="text-align: left;"><strong style="text-align: left;">{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
    </div>
    <form (submit)="sendMessage()">
    <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText" placeholder="Your Message Here...">            
        </div>
        <div class="col-sm-2">
            <button id="sendchat" type="submit" class="btn">Send</button>
        </div>
    </div>
</form>
</div>

