<app-banner></app-banner>
<div id="balloons" class="container-fluid">

</div>
<div id="addevent" class="container col-md-6">
  <h1>Add Greetup Details</h1>
  <form (submit)="addEvent()" #addGreetupForm="ngForm">
    <label>Event Name:</label>
    <input
    type="text"
    name="name"
    class="form-control"
    [(ngModel)]="newEvent.name"
    #event="ngModel"
    /> 
    <!-- <div *ngIf="!event.valid">
      <p *ngIf="event.errors.required" class="error">Event Name is required.</p>
    </div> -->
  
    <label>Event Description:</label>
    <input
    type="text"
    name="description"
    class="form-control"
    [(ngModel)]="newEvent.description"
    #eventdescription="ngModel"
    />
    <!-- <div *ngIf="!eventdscription.valid">
      <p *ngIf="eventdscription.errors.required" class="error">Event Description is required.</p>
    </div> -->
  
    <label>Date:</label>
    <input
    type="date"
    name="date"
    class="form-control"
    [(ngModel)]="newEvent.date"
    #eventdate="ngModel"
    /> 
    <!-- <div *ngIf="!eventdate.valid">
      <p *ngIf="eventdate.errors.required" class="error">Event Date is required.</p>
    </div> -->
  
    <label>Street:</label>
    <input
    type="text"
    name="street"
    class="form-control"
    [(ngModel)]="newEvent.street"
    #eventstreet="ngModel"
    /> 
    <!-- <div *ngIf="!eventstreet.valid">
      <p *ngIf="eventstreet.errors.required" class="error">Event Street is required.</p>
    </div> -->
  
    <label>City:</label>
    <input
    type="text"
    name="city"
    class="form-control"
    [(ngModel)]="newEvent.city"
    #eventcity="ngModel"
    /> 
    <!-- <div *ngIf="!eventcity.valid">
      <p *ngIf="eventcity.errors.required" class="error">Event City is required.</p>
    </div> -->
  
    <label>State:</label>
    <input
    type="text"
    name="state"
    class="form-control"
    [(ngModel)]="newEvent.state"
    #eventstate="ngModel"
    /> 
    <!-- <div *ngIf="!eventstate.valid">
      <p *ngIf="eventstate.errors.required" class="error">Event State is required.</p>
    </div> -->
  
    <label>Zip:</label>
    <input
    type="number"
    name="zip"
    class="form-control"
    [(ngModel)]="newEvent.zip"
    #eventzip="ngModel"
    /> 
    <!-- <div *ngIf="!eventzip.valid">
      <p *ngIf="eventzip.errors.required" class="error">Event Zip is required.</p>
    </div> -->
  
    <button type="submit" class="btn btn-info form-control">Add New Greetup</button>
  </form>
  <br>
  <h5 *ngIf="error">{{error}}</h5>
  <h5>{{errors}}</h5>
</div>

<!-- NOTES: ADDING FRONT END VALIDATIONS PREVENTS FROM ADDING GREETUP -->