<app-banner></app-banner>
<div id="homebanner" class="container-fluid">
  <div id="homebanner-words">
    <h2>Find a Greetup</h2>
    <h6>{{ events.length }} Greetups available</h6>
  </div>
</div>
<div class="container">
  <div id="home" class="col-md-8">
      <div id="searchdatasp">
        <h1>Search For Event</h1>
        <ng2-completer placeholder="Search GreetUps!" [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
      </div>
    <div *ngFor="let e of events" class="homeeventbox">
      <h3>{{ e.name }}</h3>
      <p>DATE: {{ e.date | date: 'MMMM dd, yyyy' }}</p>
      <p>TIME: {{ e.date | date: 'HH:MM a'}}</p>
      <p>LOCATION: {{ e.street }}, {{ e.city }}, {{ e.state }}, {{ e.zip }}</p>
      <button [routerLink]="['/greetup', e._id]" value="{{e._id}}" class="btn btn-info btn-sm btn-pink form-control btn-view">VIEW GREETUP</button>
    </div>
    
  </div>
  <div id="home-map">
    <app-map></app-map>
  </div>
</div>
