* {
    color: rgb(78, 78, 78);
}
.error {
    color: tomato;
}
.success {
    color: yellowgreen;
}
.logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 70px;
}
div#mainindex.container-fluid {
    padding-top: 10px;
}
a.pinktext {
    color: rgb(235, 66, 136);
}
a.pinktext:hover {
    text-decoration: none;
}
.pinktext {
    color: rgb(235, 66, 136);
}
h5 {
    font-weight: 200;
}
/* LOGIN/REG COMPONENT */
div#userForm {
    align-content: center;
    margin: 0 auto;
}
div#userForm h3{
    text-align: center;
    margin: 0 auto;
}
div#userForm label {
    text-align: left;
}
div#userForm input {
    border-radius: 5px;
}
button.btn.btn-info {
    background-color: rgb(235, 66, 136);
    border-radius: 5px;    
    border: none;    
    color: white;
}
button.btn.btn-info:hover {
    transform: scale(1.05);
    border-radius: 5px;    
    border: none;
    color: white;
}
button:disabled.disabled, button[disabled].disabled {
    background-color: rgb(207, 121, 157);
    border-radius: 5px;    
    border: none;    
    color: rgb(106, 49, 73); 
}
/* END OF LOGINREG COMPONENT */

/* HOME COMPONENT */
div#homebanner.container-fluid {
    height: 150px;
    background-color: rgb(235, 66, 136);
    display: flex;
    justify-content:center;
    align-items:center;
}
div#homebanner-words {
    background: transparent;
    text-align: center;
    font-weight: normal;
    color: white;
}
div.homeeventbox {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
button.btn.btn-info.btn-view {
    border: 1px solid rgb(235, 66, 136);
    background: transparent;
    color: rgb(235, 66, 136);
}
div#home {
    display: inline-block;
}
div#home-map {
    margin-top: 10px;
    display: inline-block;    
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    height: 350px;
    width: 350px;
    border: 3px solid rgb(235, 66, 136);
}
div#searchdatasp {
    height: 75px;
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content:center;
    align-items:center;
    /* border-radius: 8px; */
    position: relative;
}
div#searchdatasp-inner {
    color: white;
    padding: auto;
}
div#searchdatasp-inner input {
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}
/* END OF HOME COMPONENT */

/* BANNER COMPONENT */
div#greetupbanner {
    margin-top: 5px;
    margin-bottom: 5px;
}
div#greetupbanner img {
    height: 40px;
}
/* END OF BANNER COMPONENT */

/* VIEW EVENT COMPONENT */
div#viewevent {
    padding-left: 30px;
}
div#viewevent-more {
    background-color: rgb(243, 243, 243);
    height: 100vh;
}
div#viewevent-details {
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}
div#viewevent-details img {
    border-radius: 20px;
    text-align: center;
    border: 4px solid rgb(219, 219, 219);
}
div#view-map {
    margin: 10px;
    display: inline-block;    
    /* overflow: hidden;
    border-radius: 10px;;
    position: relative;
    z-index: 99;
    height: 250px;
    width: 250px; */
}
div#view-where {
    /* height: 50px; */
    text-align: center;
}
div#view-gm {
    margin: 10px;
    display: inline-block;    
    overflow: hidden;
    border-radius: 10px;;
    position: relative;
    z-index: 99;
    height: 275px;
    width: 275px;
    border: 4px solid rgb(219, 219, 219);
}
img.placeholder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 600px;
}
button.btn.btn-info.btn-view.btn-pink:hover {
    background-color: rgb(235, 66, 136);
    color: white;
    transform: none;
}
div#view-btns {
    display: block;
    text-align: center;
}
div#view-chat {
   
}
/* END OF VIEW COMPONENT */

/* ADD EVENT COMPONENT */
div#balloons {
    background-image: url(assets/chicago3.jpg);
    height: 300px;
    overflow: hidden;
    background-size: 100% 100%;
}
div#balloons h1 {
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 110px;
    font-size: 80px;
    opacity: 0.8;
}
/* END OF ADD EVENT COMPONENT */

/* CHAT COMPONENT */
button#joinchat {
    background-color: rgb(235, 66, 136);
    border: 2px solid rgb(235, 66, 136);
    border-radius: 0px;
    color: white;
    border: none;
    border-bottom-left-radius: 10px;
    
}
button#leavechat {
    background: transparent;
    border: 2px solid rgb(235, 66, 136);
    color: rgb(235, 66, 136);
    border-radius: 0px;
    border-bottom-right-radius: 10px;
}
strong {
    color: rgb(78, 78, 78);
}
button#sendchat {
    background-color: rgb(235, 66, 136);
    border: 2px solid rgb(235, 66, 136);
    border-radius: 5px;
    color: white;
    border: none;
}
/* END OF CHAT COMPONENT */